body {
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4 {
  text-align: center;
  color: gray !important;
  margin-bottom: 20px !important;
}

h1 {
  color: gray !important;
  padding-top: 50px;
  font-family: 'Orbitron', sans-serif !important;
}

.signup-area {
  margin-top: 25px;
}

.center-button {
  position: relative;
  min-width: 100%;
}

.error-messages {
  color: red;
  text-align: center !important;
}

label {
  color: black;
}

#yoda-form,
#stock-form,
#hidden-weather,
#game-form,
#spellcheck-form,
.alert {
  display: none;
}

#center-state-time {
  color: black;
}

#validation-errors {
  color: red;
  list-style: none;
  font-size: 10px;
}

.btn-height {
  height: 60px !important;
}

.row {
  margin-bottom: 100px;
}