<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>JS Racer</title>
    <link type='text/css' rel='stylesheet' href='/css/racer.css'>
  </head>

  <body>
    <div id='board'>
      <button id="reset">Reset</button>
      <img id="sub1" src='/imgs/sub1.png'>
      <img id="sub2" src='/imgs/sub2.png'>
    </div>
  </body>
  <script src="/js/racer.js"></script>
</html>


