<h1>&lt/EndPoint&gt</h1>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <form class="form-inline" action="/users" method="post">
      <div class="form-group">
        <label class="sr-only" for="first_name">First name</label>
        <input type="first_name" name="input[first_name]" class="form-control" id="first_name" placeholder="First name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="last_name">Last name</label>
        <input type="last_name" name="input[last_name]" class="form-control" id="last_name" placeholder="Last name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="birthday">Birthday</label>
        <input type="birthday" name="input[birthday]" class="form-control" id="birthday" placeholder="Birthday">
      </div>
      <div class="form-group">
        <label class="sr-only" for="city">City</label>
        <input type="city" name="input[city]" class="form-control" id="city" placeholder="City">
      </div>
      <div class="form-group">
        <label class="sr-only" for="state">State</label>
        <input type="state" name="input[state]" class="form-control" id="state" placeholder="State">
      </div>
      <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <input type="email" name="input[email]" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" name="input[password]" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
      <div class="signup-area">
          <button type="submit" class="btn btn-danger center-button">Sign up</button>
      </div>
  </div>
</div>
